<div class="modal-backdrop" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2>{{ title }}</h2>
      <button class="close-button" (click)="onClose()">&times;</button>
    </div>
    <div class="modal-body">
      <div class="search-container">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search users..." class="search-input">
      </div>
      <ul class="user-list">
        <li *ngFor="let user of filteredUsers" class="user-item">
          <a [href]="'/users/' + user._id + '/profile'" oneClickNav>
            <img [src]="user.profilePicture || '/images/default-profile.png'" alt="{{ user.username }}'s profile picture" class="profile-picture">
            <span>{{ user.username }}</span>
          </a>
        </li>
        <li *ngIf="filteredUsers.length === 0" class="no-users-found">
          No users found.
        </li>
      </ul>
    </div>
  </div>
</div>
